{% extends "base.html" %}

{% block title %}home{% endblock %}

{% block content %}

<div class="hero">
    <h2 class="welcome-title">welcome back, bestie 💙</h2>
    <p class="welcome-subtitle">
        your mini bioshield dashboard is ready. choose what you want to track today:
    </p>
</div>

<div class="home-buttons">
    <a class="dash-btn" href="{{ url_for('bmi') }}">check your bmi</a>
    <a class="dash-btn" href="{{ url_for('water') }}">track water intake</a>
    <a class="dash-btn" href="{{ url_for('sleep') }}">log sleep hours</a>
    <a class="dash-btn" href="{{ url_for('calories') }}">track calories</a>
</div>

{% endblock %}
